.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

inst/lib
src/*.o
src/*.a
src/*.so
src/*.dll
src/symbols.rds
src/lua-5.3.4/doc/*.*
src/lua-5.3.4/src/lua
src/lua-5.3.4/src/luac
src/lua-5.3.4/src/*.a

*.tar.gz
